* {
  font-family: "Roboto", sans-serif;
}

.come_in .box_flex {
  display: flex;
  justify-content: space-evenly;
}

.box_img {
  height: 750px;
  overflow: hidden;
  background-color: #000;
}
.come_in .img_img {
  position: relative;
  background-size: cover;
  width: 800px;
  min-height: 100%;
  background-image: url('../icons/enter_img.svg');
  opacity: 0.5;

}
h1 {
  position: absolute;
  font-weight: bold;
  font-size: 64.1538px;
  top: 48%;
  left: 33%;
  line-height: 78px;
  color: #ffffff;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  padding: 0px;
}
li {
  margin-top: 12px;
}
.btn {
  width: 335px;
  height: 48px;
  margin-top: 15px;
  background-color: #3b4bdb;
}

.come_in_box {
  display: flex;
  justify-content: space-evenly;
}
.come_in_box .or {
  padding-top: 23px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #707070;
}
.come_in .sidebar {
  margin-top: 80px;
}

.come_in .sidebar_text {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.come_in p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.come_in .or {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-top: 16px;
}
.come_in label {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #878787;
}


@media screen and (max-width: 1024px) {
  .come_in .img_img{
    width: 600px;
  }
  .come_in .sidebar{
    margin-top: 75px;
  }
  h1{
    top: 43%;
    left: 26%;
  }
}
@media screen and (max-width:768px){
  .come_in .img_img{
    width: 450px;
  }
  .come_in .sidebar{
    margin-top: 75px;
  }
  .come_in .box_flex{
    justify-content: space-between;
  }
  h1{
    top: 43%;
    left: 19%;
  }
  .come_in .btn {
    width: 250px;
    height: 40px;
  }
  .come_in .group_img{
    width: 250px;
  }
  li {
    text-align: center;
  }
}

@media screen and (max-width:414px){
  .come_in .box_flex{
    justify-content: center;
  }
  .come_in .box_img{
    display: none;
  }
  .come_in .btn{
    width: 335px;
    height: 48px;
  }
  .come_in .group_img {
    width: 335px;
  }
}

@media screen and (max-width:375px){
  .come_in .sidebar {
    margin-top: 56px;
  }
}

@media screen and (max-width:360px){
  .come_in .sidebar {
    margin-top: 40px;
  }
}
@media screen and (max-width:320px){
  .come_in .sidebar {
    margin-top: 10px;
  }
  .come_in .btn{
    width: 290px;
    height: 40px;
  }
  .come_in .group_img {
    width: 290px;
    height: 40px;
  }
}