/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

.box_container {
  max-width: 700px;
}

.registered_user {
  display: block;
  background-color: #4d5dec;
  height: 66px;
}

.registered_user .menu_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.fa {
  font-size: 26px;
}

.registered_user i {
  color: rgba(255, 255, 255, 0.4);
}

.registered_user i:hover {
  color: #fff;
  cursor: pointer;
}
.user .box_user {
  margin-top: 40px;
}

.user .box_heading_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user .box_user_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user .user_heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.user .box_heading_text a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #f2453d;
}
.user .user_img {
  width: 90px;
}
.user .user_text {
  font-weight: normal;
  font-size: 16px;
  color: #535353;
}
.user .options {
  width: 100%;
  height: 42px;
  margin-top: 17px;
  background: #f3f3fd;
  border: none;
  border-radius: 8px;
  border: 0.5px solid #3b4bdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 450;
  font-size: 16px;
  color: #3b4bdb;
}
.user .box_data_text {
  margin-top: 20px;
}
.user .box_data_text p {
  line-height: 15px;
}

.user .user_category_text {
  font-weight: 700;
  font-size: 20px;
}

.box_user_carousel {
  margin-top: 20px;
}
.user .user_carousel {
  width: 100%;
  margin-top: 14px;
}
.user .user_gallery {
  width: 100%;
  overflow: hidden;
}
.user .user_carousel_items {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0px;
}
.user .user_items {
  margin-left: 7px;
}

.box_user_items {
  width: 162px;
  height: 159px;
  text-align: center;
  border-radius: 12px;
  background-color: #1c193d;
}
.user .box_info_items {
  padding-top: 25px;
}
.user .user_logo_img {
  width: 90px;
  height: 30px;
}
.user .items_text {
  font-weight: 700;
  font-size: 20px;
  padding-top: 30px;
  color: #fff;
}
.user .box_info_items span {
  color: #fff;
  font-size: 14px;
}
.user .box_user_category_items {
  margin-top: 36px;
}

.user .user_items_btm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding: 0px;
}
.user .user_items_name {
  padding: 6.99623px 16px;
  margin-right: 10px;
  margin-bottom: 11px;
  border-radius: 41.9774px;
  background-color: #f3f3fd;
  color: #707492;
  font-weight: 400;
  font-size: 13.5895px;
  border: none;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.user .user_items_name:hover {
  color: #fff;
  background-color: #3b4bdb;
}
.user .add {
  width: 100%;
  height: 56px;
  border: 1px solid #3b4bdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  background: #3b4bdb;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

footer {
  height: 280px;
  background-color: #1c193d;
  margin-top: 30px;
}
.footer_items_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
}
.footer_items_box a:hover {
  color: #3b4bdb;
}

.footer_items_box .footer_items_promo {
  width: 287px;
  height: 230px;
}

.footer_items_promo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 26.1684px;
  color: #fff;
}

.footer_items_promo .footer_text_promo {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
.footer_serach_text a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.footer_registr_text a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.footer_category_text a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.footer_items_box .soc_set {
  margin-right: 22px;
}
footer .footer_mobile {
  display: none;
}

@media screen and (max-width: 1350px) {
  .container_all {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1270px) {
  .container_all {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container_all {
    max-width: 1146px;
  }
}

/* iPad Pro */

@media screen and (max-width: 1024px) {
  .container_all {
    max-width: 950px;
    margin: 0 auto;
  }

  .fa {
    font-size: 30px;
  }

  footer .container_all {
    max-width: 100%;
  }
  .footer_items_box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer_items_box .footer_items_promo {
    width: 229px;
  }
  footer .footer_mobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .container_all {
    max-width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container_all {
    max-width: 740px;
  }
  footer .footer_mobile {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .container_all {
    max-width: 360px;
    margin: 0 auto;
  }
  section .container_all {
    max-width: 360px;
    margin: 0 auto;
  }
  .registered_user {
    display: block;
  }
  .fa {
    font-size: 26px;
  }
  footer {
    min-height: 730px;
  }
  footer .container_all {
    max-width: 87%;
  }
  .footer_items_box {
    display: block;
  }
  .footer_items_box .footer_items_promo {
    width: 86%;
    height: 214px;
  }
  .footer_items_box .footer_registr_text {
    border-top: 1px solid black;
    padding-top: 17px;
    border-bottom: 1px solid black;
    padding-bottom: 17px;
  }
  .footer_items_box .footer_category_text {
    padding-top: 17px;
  }
  footer .footer_mobile {
    display: block;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    background-color: #0d1234;
    color: #fff;
  }
}

@media screen and (max-width: 414px) {
  .container_all {
    max-width: 390px;
    margin: 0 auto;
  }

  footer {
    min-height: 730px;
  }
  footer .container_all {
    max-width: 87%;
  }
  .footer_items_box {
    display: block;
  }
  .footer_items_box .footer_items_promo {
    width: 86%;
    height: 214px;
  }
  .footer_items_box .footer_registr_text {
    border-top: 1px solid black;
    padding-top: 17px;
    border-bottom: 1px solid black;
    padding-bottom: 17px;
  }
  .footer_items_box .footer_category_text {
    padding-top: 17px;
  }
  footer .footer_mobile {
    display: block;
    text-align: center;
    padding: 20px 0px;
    font-size: 18px;
    background-color: #0d1234;
    color: #fff;
  }
}

@media screen and (max-width: 360px) {
  section .container_all {
    max-width: 340px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .container_all {
    max-width: 300px;
  }

  section .container_all {
    max-width: 300px;
  }
  .footer_mobile {
    padding: 15px 0px 1px 0px;
  }
  .footer_items_box .soc_set {
    padding-bottom: 10px;
  }
  .footer_items_box .footer_registr_text {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  .footer_items_box .footer_category_text {
    padding-top: 5px;
  }

  .footer_serach_text {
    margin-top: 10px;
  }
}